.form {
  display: none;
  /* max-width: 40rem; */
  width: 60rem;
  margin: 0 auto;
  padding: 2.4rem;
  text-align: center;
  height: 70rem;
  position: absolute;
}

.active {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2.4rem;
  text-align: center;
}

.form h2 {
  color: #0099ff;
  font-size: 2.4rem;
}

.form label {
  text-align: left;
  display: block;
  font-size: 1.6rem;
  padding-top: 1.2rem;
}

.form input,
.form textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

button.button-toggle {
  display: inline-block;
  width: 100%;
  height: 3.6rem;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  background: #0099ff;
  color: #fff;
  border: 0;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

button.button-toggle:hover {
  display: inline-block;
  background-color: #fff;
  color: #0099ff;
  border: 1px solid #0099ff;
  transition: 300ms;
  font-size: 1.8rem;
}

button.button-toggle:disabled {
  cursor: not-allowed;
  background-color: #888;
  color: white;
  border: none;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1.2rem;
}

ion-icon {
  font-size: 2.4rem;
  color: #0099ff;
}

button.ion-button {
  height: 2.4rem;
  width: 2.4rem;
  border: none !important;
  background: transparent;
  cursor: pointer;
}

ion-icon:hover {
  font-size: 2.6rem;
  /* transform: rotate(10deg); */
}

ion-icon:active {
  font-size: 2.6rem;
}

/* ****************************** */
/* Loading Spinner */
/* ****************************** */

.center {
  height: 2.4rem;
  margin: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.wave {
  width: 1.2rem;
  height: 2.4rem;
  background: linear-gradient(45deg, #0099ff, rgb(250, 226, 226));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.add-dash-container {
  height: 4.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-dash-container button {
  /* width: 18rem; */
  width: 90%;
  height: 100%;
  /* margin-right: 4.8rem; */
  margin-top: 0rem;
  color: #fff;
  background-color: #0099ff;

  /* padding: 1.6rem; */
  font-size: 1.6rem;
  border-radius: 0.8rem;
  border: none;

  cursor: pointer;
}

.add-dash-container button:hover {
  color: #fff;
  background-color: #66c2ff;
}

@media only screen and (max-width: 600px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .form {
    width: 25rem;
  }

  .form h2 {
    font-size: 2.4rem;
  }

  .add-dash-container {
    display: block;
    height: 9.6rem;

    max-width: 40rem;
    margin: 0 auto;
    padding: 2.4rem;
    text-align: center;
  }

  .add-dash-container button {
    padding-bottom: 1.2rem;
    margin: 0;
  }
}
